.image{
  height: 850px;
}
.con{
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "SOFT" 0,
    "WONK" 0;
}
/*----------------------------------content2---------------------------------------------------*/
.third{
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 22px;
  font-style: normal;
  font-variation-settings:
    "SOFT" 0,
    "WONK" 0;
}
.card{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
/*---------------------------------content3----------------------------------------------------*/
.name{
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 42px;
  font-style: normal;
  font-variation-settings:
    "SOFT" 0,
    "WONK" 0;
}
/*---------------------------------content4----------------------------------------------------*/
.botton{
  color: #fff;
  background-color: #6a1b1a;
  padding: 15px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  width: 150px;
}