.new-class {
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 5%;
  height: 35px;
  gap: 30px;
}

.new-class2 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
}

#search {
  text-align: center;
  width: 100%;
  max-width: 384px;
  height: 40px;
  border: 1px solid #0000000d;
  border-bottom-width: 0.5px;
  padding: 6.5px;
  gap: 10px;
  border-radius: 4px;
}

.search {
  width: 28px;
  height: 28px;
  margin-top: 6px;
  rotate: -45deg;
}

#logo {
  width: 170px;
  height: auto;
}

.icons {
  width: 24px;
  height: 24px;
  gap: 20px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .new-class {
    font-size: 10px;
    gap: 15px;
  }

  .new-class2 {
    font-size: 12px;
  }

  #search {
    width: 100%;
    max-width: 100%;
  }

  .icons {
    gap: 10px;
  }

  #logo {
    width: 120px;
  }
}
